
.box {
    background-color: #323259;
    width: 35%;
    align-self: center;
    border-radius: 4px;
    border-color: black;
    padding-bottom: 24px;
    margin-top: 0px;
    padding-top: 24px;
    padding-left: 58px;
    padding-right: 26px;
    
}
.img {
    width: 131%;
    height: 100%;
    padding-left: 0px;
    margin-left: 278px;
    margin-top: 13px;
    padding-bottom: 27px;

}