
<nb-layout>

  <nb-layout-header fixed>
  <nav class="navbar navbar-expand-lg bg-primary" style="padding-right: 741px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"><h3>Tic Tac Toe</h3></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li><a class="navbar-brand" style="cursor: pointer;" routerLink="/home">Home</a></li>
                <li><a class="navbar-brand" style="cursor: pointer;" routerLink="/stats">Stats</a></li>
                <li><a class="navbar-brand" style="cursor: pointer;" routerLink="/playGame">Play Game</a></li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav navbar-right">
        <li>
            <a style="cursor: pointer;" (click)="logout()" class="navbar-brand">Logout</a>
        </li>
    </ul>

    </div>
  </div>
</nav>

  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
    <!-- <app-home></app-home> -->
    <!-- <app-board></app-board> -->
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
