button {
    margin-top: 5px;
    width: 90%;
    height: 1000%;
    font-size: x-large;
    background-color: #323259;
    border-radius: 4px;
    border-color: #323259;
}

label {
    color: black;
}
 small {
    color: red;
 }